<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/base.css">
    <title>Not Found</title>
</head>
<body>
    <div class="content">
        <header>
            <nav>
                <a href="/">Home</a>
                {% if current_user.isAdmin %}
                    <a href="/admin">Administration</a>
                {% endif %}
                <a href="/components">All Components</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <h1>Not Found</h1>
    </div>
</body>
</html>