table {
    width: 100%;
    border: 1px solid black;
}

table th {
    border-bottom: 1px solid black;
}

table tr {
    padding: 5px;
    border: 1px solid black
}
table tr td:first-child {
    border-left: 1px solid black;
}
table td {
    text-align: center;
    border-right: 1px solid black;
}
