.content .login-form {
    margin: 0 auto;
    background-color: grey;
    position: relative;
    display: block;
    width: 430px;
    height: fit-content;
    padding: 10px;
}
.content .login-form input[type="text"], input[type="password"], .content .login-form input[type="submit"] {
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 12px auto;
    border-radius: 5px;
    border: 1px solid black;
    width: 400px;
    display: block;
}
